.menu-title-container {
  color: #FFF;
}

.menu-title-container h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: 'Segoe UI',sans-serif;
  display: flex;
  justify-content: center;
}

.menu-title-container hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
